* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh; 
    background-image: linear-gradient(to top, #635B5A, #595350, #4D4D4D);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 0px 7px #24242454;
}

nav {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

a {
    padding-left: 25px;
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 7px black;
    font-family: Arial, Helvetica, sans-serif;
}

header > h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-variant: small-caps;
    text-shadow: 0px 0px 7px black;
}

a:hover {
    color: black;
    text-decoration: underline;
}



