* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh; 
    background-image: linear-gradient(to top, #635B5A, #595350, #4D4D4D);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 0px 7px #24242454;
}

nav {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

a {
    padding-left: 25px;
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 7px black;
    font-family: Arial, Helvetica, sans-serif;
}

header > h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-variant: small-caps;
    text-shadow: 0px 0px 7px black;
    display: flex;
    align-items: center;
}

a:hover {
    color: black;
    text-decoration: underline;
}

main {
    display: flex;
    margin: auto;
    align-items: center;
    padding: 50px;
    justify-content: space-around;
    height: 80vh;
    margin-bottom: 35px;
}

.form {
    background-color: purple;
    padding: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
} 

.form p {
    padding: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

input {
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 12pt;
    height: 23px;
    background-color: #4d4d4db4;
    box-shadow: 0px 0px 3px black;
    outline: none;
    box-sizing: border-box;
}

.resultado {
    background-color: purple;
    padding: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

footer {
    background-color: #4D4D4D;
    padding: 10px;
    text-align: center;
    
}